/* colors */

:root {
    --main-color: #0359ff; /* #0456FE */
    --gray-color: #732c32;
    --blue-soft: #2b91fd;
    --fail-color: #d03131;
    --success-color: #01ba3d;
    --light-color: white;
    --body-color: #0088ff;

    --roscow-size: 600;
}
