.timer-success,
.counters {
    width: 20%;
    height: 130px;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
}
.timer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid var(--light-color);
}
.counter-success {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--light-color);
    align-self: center;
    margin-left: -10px;
}

.counters {
    flex-direction: column;
    justify-content: flex-end;
}

.wrap-counter-fails,
.wrap-counter-remaining {
    display: flex;
}

.counter-fails,
.counter-remaining {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--light-color);
}

.label-counter-remaining,
.label-counter-fails {
}
